# Simple guide to python data structures

## Dictionary

Data structures are methods of storing data to aid retrieval and storage cost

Imagine a dictionary where words are sorted alphabetically. It is quite easy to search for the definition of an unknown word by going thorugh the dictionary alphabetically.

Same in python, but most of the time, a dictionary is not alphabetical, but rather it is simply arranged in so-called key-value pairs

For example, suppose columbia stored every student's info into a dictionary

In [3]:
Student = {
    "age": 18,
    'name': 'Peter',
    'height': 70,
    'UNI': 'ab1234'
}

In [2]:
Student

{'age': 18, 'name': 'Peter', 'height': '70', 'UNI': 'ab1234'}

To access this dictionary called student, we can do the following

In [7]:
Student['name']

'Peter'

In [8]:
Student['height']

'70'

To change let's say the student's name from Peter to John, we can run the following:

In [4]:
Student['name'] = 'John'

In [5]:
Student

{'age': 18, 'name': 'John', 'height': '70', 'UNI': 'ab1234'}

All other info is unchanged

You can also add info into this dictionary, for instance, i want to add his dorm name.

In [6]:
Student['dorm'] = 'John Jay'

In [7]:
Student

{'age': 18,
 'name': 'John',
 'height': '70',
 'UNI': 'ab1234',
 'dorm': 'John Jay'}

## Lists

A list is a list of numbers or strings or a mix of both or even other data types (beyond scope of the course).

In [9]:
my_list = [2, 3, "five", "seven", 11, 13]

For example, my_list above contains my favorite prime numbers, but some of them are numbers and others in integers

To access contents of this list, we can use the following notation. The first item in the list can be accessed

In [13]:
my_list[0]

2

The second

In [14]:
my_list[1]

3

The third

In [15]:
my_list[2]

'five'

The last

In [16]:
my_list[-1]

13

The second to last

In [18]:
my_list[-2]

11

you can also stored it in other variables or print it

In [19]:
some_number = my_list[3]

In [20]:
print(some_number)

seven

To expand my list of favorite prime numbers, i can use the built in append function for lists.

In [10]:
my_list.append(17)

In [11]:
my_list

[2, 3, 'five', 'seven', 11, 13, 17]

In [12]:
my_list.append(19)

In [13]:
my_list

[2, 3, 'five', 'seven', 11, 13, 17, 19]

What if we want to concatenate two lists together?

In [14]:
another_list = [23, 29, 31]

In [15]:
my_list + another_list

[2, 3, 'five', 'seven', 11, 13, 17, 19, 23, 29, 31]

In python, strings also act like a list of characters. For example

In [16]:
example_string = "Python"

In [17]:
example_string[0]

'P'

In [18]:
example_string[1]

'y'

In [19]:
example_string[-1]

'n'

In [32]:
example_string[0] == example_string[-1]

False

### Q1

The len() function is very useful for showing the length of a list or string.

In [20]:
big_list = [2, 3, 'five', 'seven', 11, 13, 17, 19, 23, 29, 31]

a) What is the length of this array big_list?

In [21]:
len(big_list)

11

b) Which index has strings instead of integers in big_list?

In [22]:
# 2, 3

c) For the item 'seven' in big list, what index is the character 'e'?

In [23]:
# 1, 3

d) What about 'five', what index is the character 'i'?

In [ ]:
# 1

### Q2

In [13]:
Student = {
    'age': 18,
    'name': 'Peter',
    'height': '70',
    'UNI': 'ab1234'
}

Let's say I want to add an extra description of this person's mood. Call the key 'mood', and this person is 'happy' and change his age to 24.

### Q3

In [1]:
big_list = [2, 3, 'five', 'seven', 11, 13, 17, 19, 23, 29, 31]

a) Consider the big_list again. Replace the 7th element with the same number in word form (string).

b) Append the next two prime numbers in big_list

c) Python has a indexing notation that allows users to only take a subset of the list. For example, big_list[0:5] will only grab the first 5 elements

In [2]:
big_list[0:5]

[2, 3, 'five', 'seven', 11]

Similarly, big_list[6:-1] will give the 6th element to the second to last element.

In [5]:
big_list[6:-1]

[17, 19, 23, 29]

To include the final element, use big_list[6:]

In [7]:
big_list[6:]

[17, 19, 23, 29, 31]

c) Continued. Using the new big_list from part a) and b) return a concatenated list of element 1 to 5 and 7 to 9.