# Conditions

In the real world, we can give people conditions and what you or they should do when the condition is satisfied.

For example, if it rains, I will stay indoors. To write that in psuedocode (fake code that doesn't belong to any known programming language)

if (it rains): 
> I will stay indoors

The condition to be tested is typically written in parentheses after the word if. In python notation, remember the colon after the condition and the indentation in the command if condition is met. Example below

In [2]:
x = 10

In [4]:
if (x > 5):
    print("x is bigger than 5")
    print("something")

x is bigger than 5
something

In [7]:
if False | True:
    print(10)

10

Note, since x=10, it is indeed bigger than 5, so the condition is true, hence the indented statement is executed. Look what happens when the condition is not met.

In [8]:
x = 3

In [9]:
if (x > 5):
    print("x is bigger than 5")

See, nothing gets printed.

## If else and elif

To make the conditions more complex, we can add additional conditions and execute different commands

In [10]:
Shirt = "green"

In [11]:
if (Shirt == "green"):
    print("Wear a red tie")
elif (Shirt == "blue"):
    print("Wear a green tie")

Wear a red tie

In [12]:
Shirt = "blue"

In [13]:
if (Shirt == "green"):
    print("Wear a red tie")
elif (Shirt == "blue"):
    print("Wear a green tie")

Wear a green tie

What if I am wearing a black shirt? What tie should i wear? The conditions don't specify. We'll use an else statement to capture all the other unspecified conditions

In [14]:
Shirt = "black"

In [15]:
if (Shirt == "green"):
    print("Wear a red tie")
elif (Shirt == "blue"):
    print("Wear a green tie")
else:
    print("Don't wear any tie")

Don't wear any tie

Else statement tells what the action should be for all other conditions not specified above.

## Range function and for loops

A loop is a structure to help you automate repetitve tasks

If I were to print out numbers from 1 to 10, I could manually writing the following:

In [16]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

Or i could be lazy and write a loop that prints the number out from 1 to 10 neatly:

In [35]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Range function can specify the range of numbers you are interested in when you are trying to write a loop. Note that if you want to output to be from 1 to 10, the second number in the range function has to be that number + 1

note that the variable i is assigned the a new number in range each time the loop is executed from 1 to 10.

You can also iterate over items in a list when trying to perform repetitive tasks

In [18]:
primary_color_list = ["red", "green", "blue"]

In [20]:
for chicken in primary_color_list:
    print(chicken)

red
green
blue

Note, here instead of using the variable i, we use the variable color to assign a new color to it as the loop executes. Each time the loop executes, a new color from the list primary_color_list is assigned to the variable color

### Q1

a) Write a loop that prints all powers of 2 up to the 16th power

b) Write a loop that prints the cumulative sum of all powers of two up to the 16th power

In [23]:
for i in range(1, 17):
    print(2**i)

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536

In [24]:
sum = 0

for i in range(1, 17):
    sum = sum + 2**i
    
print(sum)

131070

### Q2

a) Write a loop that prints only multiples of 2 from 0 to 100 (including 100).

b) Write a loop that prints only multiples of 3 from 0 to 100 (including 100).

c) Write a loop that prints numbers that are neither multiples of 2 nor 3 from 0 to 100 (including 100).

hint: To find multiples of a number use the modulus operator %. E.g. if a number is divisible by 2, the number % 2 will be equal to 0. Examples below

In [2]:
(10 % 2)

0

In [3]:
(4 % 2)

0

In [4]:
(5 % 2)

1

In [28]:
for i in range (0,101):
    if (i % 2):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [29]:
for i in range(0, 51):
    print(2 * i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [34]:
for i in range (0,101):
    if (i % 3 == 0):
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [33]:
for i in range (0,101):
    if (i % 2 != 0) and (i % 3 != 0):
        print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49
53
55
59
61
65
67
71
73
77
79
83
85
89
91
95
97

### Q3

Write a loop to print out a truth table (the output of A (logical operator) B) by iterating through all values of A and B. A can only be a [True, False] list and B can only be a [True, False] list.

In [6]:
A = [True, False]
B = [True, False]

a) Evaluate A AND B

b) Evaluate A OR B

c) Evaluate (A AND B) OR A

d) Evaluate NOT (A OR B) AND NOT A

hint: remember the not command is not.

In [16]:
not True

False

In [17]:
not False

True

In [18]:
not (True | False)

False